<!-- <div class="contact-us container-fluid flex-row flex-wrap">
    <h4 class="col-md-12">Contáctanos</h4>
    <div class="section1 col-md-6" id="ceos">
        <div *ngFor="let ceoInfo of ceosInfo;index as i" id="person">
            <div class="integrants col-6 col-md-auto">
                <img class="card-img-top" [src]="ceoInfo['image']" alt="perfil">
                <div class="info">
                    <p class="text"><span>{{ceoInfo['name']}}</span></p>
                    <p class="text">{{ceoInfo['range']}}</p>
                    <p class="text">{{ceoInfo['especiality']}}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section2 col-md-6" id="socialmedia">
        <h6><u>SOCIAL MEDIA</u></h6>
        <div *ngFor="let socialMedia of socialMedias;index as i">
            <div class="col-6 col-md-auto">
                <a *ngFor="let link of socialMedia['link']" href="{{link['url']}}" class="card-link">{{link['text']}}</a>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <h4 class="col-md-12 mb-5">Contáctanos</h4>
        <div class="col-md-6" id="ceos">
            <div *ngFor="let ceoInfo of ceosInfo;index as i" id="person">
                <div class="integrants col-6 col-md-auto">
                    <img class="card-img-top" [src]="ceoInfo['image']" alt="profile_image">
                    <div class="info">
                        <p class="text"><span>{{ceoInfo['name']}}</span></p>
                        <p class="text">{{ceoInfo['range']}}</p>
                        <p class="text">{{ceoInfo['especiality']}}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6" id="socialmedia">
            <h6><u>SOCIAL MEDIA</u></h6>
            <div *ngFor="let socialMedia of socialMedias;index as i">
                <div class="col-6 col-md-auto">
                    <a *ngFor="let link of socialMedia['link']" href="{{link['url']}}" class="card-link">{{link['text']}}</a>
                </div>
            </div>
        </div>
    </div>
</div>