
.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
}

#ceos{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    background-color: #f8f3ea00;
    border: none;
}

.integrants{
    width: 80px;
    background-color:#f8f3ea00;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    float: left;
    margin: 0;
    padding: 0;
}

.grid-content{
    margin: 1%;
    width: 400px;
}

.info{
    padding: 10%;
    padding-right: 50%;
}
div.info{
    width: 50%;
}

p.text{
    width: 500px;
}
a{
    text-decoration: none;
    color: #0b1853;
}
span{
    color: #9eccfa;
}

#socialmedia{
    text-align: right;
}