.about-us{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 100px;
}

span{
    color: #9eccfa;
}

a{
    text-decoration: none;
    color: #0b1853;
}


/*RESPONSIVE*/
@media screen and (max-width: 390px){

}
