.about-us{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {  
    display: -ms-flexbox;  
    display: flex;  
    -ms-flex-wrap: wrap;  
    flex-wrap: wrap;  
    margin-right: -15px;  
    margin-left: -15px;  
}

.align-items-center{
    -ms-flex-align: center !important;  
    align-items: flex-center !important;  
}

.col {  
    -ms-flex-preferred-size: 0;
    flex-basis: 0;  
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}  

.text{
    width: 100px;
}

span{
    color: #9eccfa;
}

a{
    text-decoration: none;
    color: #0b1853;
}


/*RESPONSIVE*/
@media screen and (max-width: 390px){

}
