.table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;

}
table{
    width: max-content;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    font-size: 12px; 
    --bs-table-border-color: transparent; /* lineas verticales de tabla transparentes */
}

.table th{
    color: #0B1957;
    /* padding-right: 50px; */
    font-weight:bold;
    text-decoration:none !important;
    line-height:1;
    border-bottom: 2px solid #0B1957;
    /* text-align: center; */
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

.table td{
    padding: 10px 12px;
    padding-right: 50px;
    font-size: 14px; /* Tamaño de letra para el texto de los contenidos */
    text-align: center; /* Alinea el texto a la izquierda en las celdas */
    align-content: center;
    font-weight: 400;
    background-color: transparent;
    border-bottom: 1px solid #0B1957;
}
      

.colse_btn{
    border:none;
    border-radius: 0.2rem;
    text-transform: uppercase;
    background-color: rgb(223 28 28 / 87%);
    color: white;
    cursor: pointer;
}

.colse_btn:hover{
    opacity: 0.7;
}