
<div class="p-5 componentsBackgrounds" id="users">
    <div class="container text-center row">
        <form class="d-flex col-12 mb-5" role="search">
            <input class="form-control me-2" style="width: 20%;" type="search" placeholder="Search" aria-label="Search" #searchInput (input)="search(searchInput.value)">
            <button class="btn btn-light" (click)="search(searchInput.value)"  type="submit">Search</button>
        </form>
        <div class="users container">
            <div class="col-12" *ngFor="let user of users">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.nickname }}</h5>
                        <p class="card-text">{{ user.type }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>