<div class="col-12 p-5" style="text-align: justify;">
    <div style="display: flex;">
        <p class="col-10 pt-5">¿Te gustaría ser el personaje principal de un videojuego?
        ¿Ser el mejor detective de todos los tiempos?
        ¡¡Con Crime of Murders, el nuevo videojuego web RPG, puedes serlo!!</p>
        <img class="col-2" src="../assets/img/Detective.gif" alt="Detective gif" style="width: 10%;margin-left: 50px;">
    </div>
    <div class="col-12 mt-3">
        <p>Crime of Murders es una RPG on-line que adoptará la forma de un escape room.
        Ustedes jugadores podrán sumergirse en una experiencia donde deberán resolver el enigma para poder escapar.
        <br>
        El objetivo será brindaros una experiencia interactiva envolvente que combine elementos de narrativa,
        resolución de acertijos y toma de decisiones, todo ello dentro de la página web accesible para diferentes dispositivos.</p>
    </div>
</div>
