<div class="text-center p-5">
    <div id="background1" *ngIf="isLogInFormVisible">
        <form [formGroup]="logInForm" (ngSubmit)="onSubmitLogIn()">
            <div>
                <p style="color: black;">Bienvenido detective!!</p>
                <input formControlName="name_user" placeholder="Username" type="text" class="mb-2" required><br>
                <input formControlName="password_user" placeholder="Password" type="password" class="mb-2" required><br>
                <button type="submit" [disabled]="!logInForm.valid">Log in</button>
            </div>
            <div class="mt-4">
                <p style="color: black;font-size: xx-small;">Todavía no tienes cuenta?</p>
                <button type="button" (click)="showSignUpForm()">Sign up</button>
            </div>
        </form>
    </div>
   
    <div *ngIf="isSignUpFormVisible">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
            <p style="color: black;">Bienvenido detective!!</p>
            <input formControlName="name_user" placeholder="Username" type="text" class="mb-2" required><br>
            <input formControlName="surname_user" placeholder="Surname" type="text" class="mb-2" required><br>
            <input formControlName="nickname_user" placeholder="Nickname" type="text" class="mb-2" required><br>
            <input formControlName="age_user" placeholder="Edad" type="number" class="mb-2" required><br>
            <input formControlName="email_user" placeholder="Email" type="email" class="mb-2" required><br>
            <input formControlName="phone_user" placeholder="Teléfono" type="number" class="mb-2" required><br>
            <input formControlName="password_user" placeholder="Password" type="password" class="mb-2" required><br>
            <input formControlName="repeat_password_user" placeholder="Password" type="password" class="mb-2" required><br>
            <button type="submit" [disabled]="!signUpForm.valid">Sign up</button>
        </form>
    </div>
</div>