<div class="text-center p-5 row componentsBackgrounds">
    <div *ngIf="isLogInFormVisible" novalidate>
        <form [formGroup]="logInForm" (ngSubmit)="onSubmitLogIn()">
            <div>
                <h5 style="color: black;">¡Nos alegramos de verte de nuevo!</h5>
                <input formControlName="nickname_user" placeholder="Nickname" type="text" class="mb-2" required><br>
                <input formControlName="password_user" placeholder="Password" type="password" class="mb-2" required><br>
                <button type="submit" [disabled]="!logInForm.valid">Log in</button>
            </div>
            <div class="mt-4">
                <p style="color: black;font-size: x-small;">Todavía no tienes cuenta?</p>
                <button type="button" (click)="showSignUpForm()">Sign up</button>
            </div>
        </form>
    </div>

    <div *ngIf="isSignUpFormVisible" novalidate>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitSignUp()">
            <h5 style="color: black;">¡Bienvenido a Studio Vila!</h5><br>

            <div>
                <p>Selecciona tu foto de perfil:</p>
                <div style="display: flex; flex-wrap: wrap;">
                    <div *ngFor="let imagen of imagenes; let i = index;" style="flex: 0 0 25%; padding: 5px;">
                        <img [src]="imagen" alt="Imagen" [style]="getImagenStyle(imagen)"
                            (click)="selectImage(imagen)">
                    </div>
                </div>
                <span *ngIf="signUpForm.get('image_user')?.touched && signUpForm.get('image_user')?.errors?.['required']">
                    <p style="color: red; font-size: smaller;">Es obligatorio escoger una imagen.</p>
                </span>
            </div><br>
            
            <input ngModel formControlName="name_user" placeholder="Username" type="text" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('name_user')?.touched && this.signUpForm.get('name_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <input ngModel formControlName="surname_user" placeholder="Surname" type="text" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('surname_user')?.touched && this.signUpForm.get('surname_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <input ngModel formControlName="nickname_user" placeholder="Nickname" type="text" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('nickname_user')?.touched && this.signUpForm.get('nickname_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <input formControlName="age_user" placeholder="Edad" type="number" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('age_user')?.touched && this.signUpForm.get('age_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <span *ngIf="this.signUpForm.get('age_user')?.touched && this.signUpForm.get('age_user')?.errors?.['min']">
                <p style="color: red; font-size: smaller;">El usuario debe tener como mínimo 12 años.</p>
            </span>
            <input formControlName="email_user" placeholder="Email" type="email" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('email_user')?.touched && this.signUpForm.get('email_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <span *ngIf="this.signUpForm.get('email_user')?.touched && this.signUpForm.get('email_user')?.errors?.['email']">
                <p style="color: red; font-size: smaller;">El formato del email no es válido.</p>
            </span>
            <input formControlName="phone_user" placeholder="Teléfono" type="number" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('phone_user')?.touched && this.signUpForm.get('phone_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <span *ngIf="this.signUpForm.get('phone_user')?.touched && this.signUpForm.get('phone_user')?.errors?.['pattern']">
                <p style="color: red; font-size: smaller;">Debe tener 9 caracteres.</p>
            </span>
            <input formControlName="password_user" placeholder="Password" type="password" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('password_user')?.touched && this.signUpForm.get('password_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <input formControlName="repeat_password_user" placeholder="Password" type="password" class="mb-2" required><br>
            <span *ngIf="this.signUpForm.get('repeat_password_user')?.touched && this.signUpForm.get('repeat_password_user')?.errors?.['required']">
                <p style="color: red; font-size: smaller;">Es obligatorio rellenar el campo.</p>
            </span>
            <button type="submit" [disabled]="!signUpForm.valid">Sign up</button>
        </form>
    </div>
    
</div>