nav{
    background-color: #f8f3ea !important;

}

ul.navbar-nav li{
    margin-right: 5ex;
}


.footer{
    background-color: #f8f3ea !important;
    margin: 0;
    box-shadow: -2px -2px 20px 3px rgb(196 192 187);

}