<app-header></app-header>

<form id="signupForm" action="" method="post" class="text-center" style="position: relative; top: 450px;">
    <div>
    <p style="color: white;">Bienvenido detective!!</p>
    <input type="text" name="user_nombre" id="user_nombre" placeholder="Username" class="mb-2"><br>
    <input type="password" name="user_password" id="user_password" placeholder="Password" class="mb-2"><br>
    <button type="submit">Sing up</button>
    </div>
    <div class="mt-4">
    <p style="color: white;font-size: xx-small;">Todavía no tienes cuenta?</p>
    <button type="button" onclick="">Log in</button>
</div>

<!-- <form id="signupForm" action="" method="post" class="text-center" style="position: relative; top: 450px;">
    <div>
    <p style="color: white;">Bienvenido detective!!</p>
    <input type="text" name="user_nombre" id="user_nombre" placeholder="Username" class="mb-2"><br>
    <input type="text" name="user_apellido" id="user_apellido" placeholder="Surname" class="mb-2"><br>
    <input type="password" name="user_nickname" id="user_nickname" placeholder="Nickname" class="mb-2"><br>
    <input type="date" name="user_edad" id="user_edad" placeholder="Edad" class="mb-2"><br>
    <input type="text" name="user_email" id="user_email" placeholder="Email" class="mb-2"><br>
    <input type="text" name="user_telfono" id="user_telefono" placeholder="Teléfono" class="mb-2"><br>
    <input type="password" name="user_password" id="user_password" placeholder="Password" class="mb-2"><br>
    <input type="password" name="repeat_password" id="user_password" placeholder="Password" class="mb-2"><br>
    <button type="submit">Sing up</button>
    </div>
</div> -->

</form>

<div class="text-center mt-5 mb-5">
    <div>
        <canvas id="mapa" width="1000" height="600" style="border:2px solid black;">
        Canvas not supported by your browser.
        </canvas>
    </div>
</div>

<router-outlet></router-outlet>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
</style>

<div id="input1"></div>
<div class="col-12 p-5" style="text-align: justify;">
    <div style="display: flex;">
    <p class="col-10 pt-5">¿Te gustaría ser el personaje principal de un videojuego?
    ¿Ser el mejor detective de todos los tiempos?
    ¡¡Con Crime of Murders, el nuevo videojuego web RPG, puedes serlo!!</p>
    <img class="col-2" src="../assets/img/Detective.gif" alt="Detective gif" style="width: 10%;margin-left: 50px;">
    </div>
    <div class="col-12 mt-3">
    <p>Crime of Murders es una RPG on-line que adoptará la forma de un escape room.
    Ustedes jugadores podrán sumergirse en una experiencia donde deberán resolver el enigma para poder escapar.
    <br>
    El objetivo será brindaros una experiencia interactiva envolvente que combine elementos de narrativa,
    resolución de acertijos y toma de decisiones, todo ello dentro de la página web accesible para diferentes dispositivos.</p>
    </div>
</div>
<app-footer></app-footer>