
<div class="componentsBackgrounds">
  <div class="row d-flex justify-content-between">
      <div class="col-md-4 text-center">
          <!-- <input type="file" name="changeImage"> -->
          <button type="button" name="profset" class="btn btn_settings">My data</button>
          <br><br>
          <button type="button" name="profset" class="btn btn_settings">⚙️​ Settings</button>
          <br><br>
          <button type="button" class="btn btn_delete" (click)="logOut()" [routerLink]="['/app-forms']">Cerrar sesión</button>
          <br><br>
          <button type="button" (click)="delete()" [routerLink]="['/app-forms']" class="btn btn_delete">Eliminar cuenta</button>
          <br><br>
      </div>
      <div id="info" class="col-md-6">
        <img class="card-img-top" *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" style="width: 40%;" alt="profile_image"/>
        <br><br>
          <form class="row" [formGroup]="UserForm" id="user">
            <div class="form-group col-md-12 mb-3">
              <label for="name_user" class="col-md-4">Nombre:</label>
              <input formControlName="name_user" [(ngModel)]="datos.name_user" [disabled]="!isEditable" type="text" class="col-md-6" required>

            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="surname_user" class="col-md-4">Apellido:</label>
              <input formControlName="surname_user" [(ngModel)]="datos.surname_user" [disabled]="!isEditable" type="text" class="col-md-6" required>

            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="nickname_user" class="col-md-4">Nickname:</label>
              <input formControlName="nickname_user" [(ngModel)]="datos.nickname_user" [disabled]="!isEditable" type="text" class="col-md-6" required>

            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="age_user" class="col-md-4">Edad:</label>
              <input formControlName="age_user" [(ngModel)]="datos.age_user" [disabled]="!isEditable" type="number" class="col-md-6" required>

            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="email_user" class="col-md-4">Email:</label>
              <input formControlName="email_user" [(ngModel)]="datos.email_user" [disabled]="!isEditable" type="email" class="col-md-6" required>

            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="phone_user" class="col-md-4">Teléfono:</label>
              <input formControlName="phone_user" [(ngModel)]="datos.phone_user" [disabled]="!isEditable" type="number" class="col-md-6" required>

            </div>
            <div class="form-group col-md-12 mb-3">
              <label for="password_user" class="col-md-4">Contraseña:</label>
              <input formControlName="password_user" [(ngModel)]="datos.password" [disabled]="!isEditable" type="password" class="col-md-6" required>
            </div>
            <div class="form-group col-md-12 mb-3">
              <button type="button" class="col-md-2 btn btn_isEditable" (click)="edit()" *ngIf="!isEditable">Editar ✍️</button>
              <button type="button" class="col-md-2 btn btn_isEditable" (click)="save()" *ngIf="isEditable">Guardar ✔</button>
            </div>
          </form>
      </div>
  </div>
</div>