#profile{
    background: #f8f3ea;
    box-shadow: 18px 18px 30px #ede8de, -18px -18px 30px #ede8de;
    margin: 2%;
    padding: 2%;
    border-radius: 15px;
}
.profset{
    align-items: center;
    text-align: center;
}
#info input{
    background: none;
    border: none;
    border-bottom: solid 1px black;
}
#info button{
    margin-left: 2%;
    width: fit-content;
    border: none;
    background-color: #f8f3ea;
    text-shadow: 5px 5px 5px #b8b6b6;
}