.profset{
    align-items: center;
    text-align: center;
}

#info input{
    justify-self: unset;
    background: none;
    border: none;
    width: 60%;
    border-bottom: solid 1px black;
}

.btn{
    text-align: center;
    margin-right: 2%;
    width: fit-content;
    color: #0B1957;
    background-color: #9ECCFA;
    box-shadow: 2px 2px rgb(11 25 87 / 29%);;

}

.btn:active{
    background-color: #9ECCFA;
    box-shadow: 1px 1px #666;
    transform: translateY(1px);
}
