body{
    background-color: #f8f3ea;
    font-family: 'Press Start 2P', cursive!important;
    overflow-x: hidden;
}

@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/font/PressStart2P.ttf) format('tts');
}
#canvas{
    background-color: black;
}

.componentsBackgrounds{
    display: flex;
    justify-content: center;
    background: #f8f3ea;
    box-shadow: 18px 18px 30px #ede8de, -18px -18px 30px #ede8de;
    margin: 2%;
    padding: 2%;
    border-radius: 25px;
}
