body{
    background-color: #f8f3ea;
    font-family: 'Press Start 2P', cursive!important;
    overflow-x: hidden;
    margin: 0; /* Eliminar el margen del body para asegurar que el contenedor ocupe toda la altura */
    padding: 0; /* Eliminar el padding del body */
    height: 100vh; 
}

body.dark-mode {
    background-color: #3c3c53;
    color: #e6ebfe;
}

body.light-mode{
    background-color: #ede8de;
    color: #000000;
}

nav.dark-mode, footer.dark-mode {
    background-color: #3c3c53 !important;
    color: #e6ebfe !important;
}

nav.light-mode, footer.light-mode {
    background-color: #ede8de !important;
    color: #000000 !important;
}

@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/font/PressStart2P.ttf) format('tts');
}
#canvas{
    background-color: black;
}

.componentsBackgrounds{
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar el contenido verticalmente */
    background: #f8f3ea;
    box-shadow: 18px 18px 30px #ede8de, -18px -18px 30px #ede8de;
    padding: 2%; /* Añadir padding interno */
    border-radius: 5px;
    margin: 2%; /* Margen superior e inferior del 2%, sin margen izquierdo ni derecho */
    box-sizing: border-box; /* Incluir padding y borde en el cálculo de la altura */
    overflow: auto; /* Agregar desplazamiento interno */
}

.componentsBackgrounds.light-mode{
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar el contenido verticalmente */
    background: #f8f3ea;
    box-shadow: 18px 18px 30px #ede8de, -18px -18px 30px #ede8de;
    padding: 2%; /* Añadir padding interno */
    border-radius: 5px;
    margin: 2%; /* Margen superior e inferior del 2%, sin margen izquierdo ni derecho */
    box-sizing: border-box; /* Incluir padding y borde en el cálculo de la altura */
    overflow: auto; /* Agregar desplazamiento interno */
}

.componentsBackgrounds.dark-mode{
    background: #3c3c53;
    color: #e6ebfe;
    box-shadow: 8px 8px 30px #ede8de, -8px -8px 30px #ede8de;
}

.divComponent{
    max-width: 90%;
    text-align: center; /* Centrar el texto horizontalmente */
}

/* Estilos específicos para pantallas grandes */
@media (min-width: 768px) {
    .componentsBackgrounds {
        height: 70%; /* Ancho del 70% en pantallas grandes */
    }
}

/* Estilos específicos para pantallas pequeñas */
@media (max-width: 768px) {
    .componentsBackgrounds {
        height: 90%; /* Ancho del 90% en pantallas pequeñas */
    }
}
