body{
    background-color: #f8f3ea;
    font-family: 'Press Start 2P', cursive!important;
}

@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/font/PressStart2P.ttf) format('tts');
}
#canvas{
    background-color: black;
}
